// bootstrap customization //
$enable-rounded: false;
@import "../node_modules/bootstrap/scss/bootstrap";

// components //

@keyframes slide-in {
	from {
		transform: translateY(1em);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

#app {
	user-select: none;
}

.compact-list-group-item {
	padding: .5em !important;
	font-size: .875em;
}
